python-dotenv==1.0.0
requests==2.31.0
pandas==2.1.4
numpy==1.26.2
termcolor==2.4.0
backtesting==0.6.5
ccxt==4.1.63
solana
solders==0.20.0
web3==6.11.0
anthropic
openai
groq
google-generativeai==0.3.2
ollama
ta==0.10.2
scipy==1.11.4
scikit-learn==1.3.2
tensorflow==2.15.0
torch==2.1.1
transformers==4.36.2